body{
    background-color: #212529!important;
    overflow: hidden;
}

/* HEADER */ 



.navimg{
    width: 7%;
    height: 7%;
    padding-top: -20px;
}


.headermain{
    text-align: left;
    background-color: rgb(27, 27, 27);
    width: 110%;
    height: 80px;
    margin-left: -30px;
    margin-top: -20px;
}

.headersub{
    width: 1100px;
    height: auto;
    padding-top: 30px;

}


.navlogo{
    font-size: 27px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    padding-right: 130px;
    padding-left: 250px;
    text-decoration: none;
    transition: color 0.1s linear;
    margin-top: 20px;
    text-decoration: underline;
}
.navlogo:hover{
    color: #a08769;
}



.maint{
    text-decoration: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    font-size: 20px;
    transition: color 0.1s linear;
    max-width: 55px;
    width: 100%;
    max-height: 100px;
    height: 100%;
    padding-left: 60px;
}
    .maint:hover{
    color: #a08769;
}


/* MAIN INDEX */

.mainintro{
    text-align: left;
    width: 110%;
    height: 950px;
    position: relative;
    background-image: url(8x.png);
    margin-left: -20px;
    opacity: 0.6;
}

.maintextintro{
    color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    font-size: 30px;
    padding-left: 150px;
    padding-top: 200px;
}

