body{
}

.back-image{
    background-image: url(https://i.yapx.ru/NWKR4.png);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    position: fixed;
    background-size: 100%   ;
      
}

.back-text{
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: 'Quicksand', sans-serif, Bold;
    font-weight: 700;
    font-size: 40px;
    text-shadow: 2px 2px 2px #000;
    margin-top: 800px;
}

.back-text1{
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: 'Quicksand', sans-serif, Bold;
    font-weight: 700;
    font-size: 30px;
    text-shadow: 2px 2px 2px #000;
    margin-top: -30px;
}