body{
}

.back-image{
    background-image: url(https://i.yapx.ru/NWKR4.png);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    position: fixed;
    background-size: 100%   ;
      
}

.back-text{
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: 'Quicksand', sans-serif, Bold;
    font-weight: 700;
    font-size: 40px;
    text-shadow: 2px 2px 2px #000;
    margin-top: 0px;
}

.arrowbacktext{
    width: 120px;
    height: 120px;
    margin-top: 200px;
    margin-left: 890px;
}

.arrowback{
    width: 110px;
    height: 110px;
}

.spinner {
        display: block;
        width: 50px;
        height: 50px;
        margin: -90px 1510px;
        position: relative;
    
        border: 4px solid rgb(255, 255, 255);
        border-top-color: transparent;
        border-radius: 100%;
    
        animation: spin 1s infinite linear;
     }
     
    .spinner:after {
        content: '';
        display: block;
        width: 0;
        height: 0;
        position: absolute;
        top: -4px;
        left: -3px;
        
        border: 10px solid transparent;
        border-bottom-color: rgb(255, 255, 255);
        
        transform: rotate(45deg);
    }
    
    @keyframes spin {
        to { transform: rotate(360deg); }
}​